.Chats-list {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;

  .Chats-list-title {
  }

  .Form-add-chat {
    display: inline-grid;
  }

  .Text-fields {
    margin-bottom: 16px;
  }
}
