.Chats-list {
  width: 50%;
  padding: 24px;
  box-sizing: border-box;

  font-size: calc(10px + 2vmin);

  .Form-add-chat {
    display: inline-grid;
  }

  .Text-fields {
    margin-bottom: 16px;
  }
}
