.Chats {
  display: flex;
  height: 100%;

  .Chat {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    height: 100%;
    width: 50%;
    box-sizing: border-box;

    .Message-form {
      flex-shrink: 0;
      padding: 24px;
    }
  }
}
